<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ChefOnline - Online Takeaways.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>6</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8BD4AF98987B4644B8FCE58B1942AE70BDF532B1</string>
				<key>dateExpires</key>
				<string>11/02/2026</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8BD4AF98987B4644B8FCE58B1942AE70BDF532B1</string>
						<key>dateExpires</key>
						<string>11/02/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SRLL3C95WU</string>
						<key>name</key>
						<string>Le Chef PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>SRLL3C95WU.com.lechef.ChefOnline--com.lechef.ChefOnline</string>
				<key>com.apple.developer.team-identifier</key>
				<string>SRLL3C95WU</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>chefonline.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>30f55408-9e65-4908-929e-c083aeca567c</string>
				<key>dateExpires</key>
				<string>11/02/2026</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.lechef.ChefOnline--com.lechef.ChefOnline</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>SRLL3C95WU</string>
				<key>name</key>
				<string>Le Chef PLC</string>
			</dict>
			<key>versionNumber</key>
			<string>8.21</string>
		</dict>
	</array>
</dict>
</plist>
